@media screen and ( max-width: 1349px )
    .swiper-container
        max-width: 1020px
    .news
        &-card
            &-img
                &-sm
                    height: 100px
                img
                    width: 100%
@media screen and ( max-width: 1139px )
    .swiper-container
        max-width: 875px
    .slide
        &-item
            width: 200px
            img
                width: 100%
@media screen and ( max-width: 992px )
    .services
        &-card
            &-content
                padding: 10px
    .about
        &-img
            margin-top: 40px
            img
                width: 100%
@media screen and ( max-width: 768px )
    .swiper-container
        max-width: 600px
    .locations
        &-card
            min-width: 100px
            &-number
                font-size: 30px
            &-description
                font-size: 18px
@media screen and ( max-width: 576px )
    .swiper-container
        max-width: 280px
    .slide
        &-title
            min-width: 100px
            max-width: 450px
    .hidden
        &-sm
            display: none