@media screen and ( max-width: 4000px )
    .visible-col
        display: none
    .hidden-card-lg
        display: none
@media screen and ( max-width: 1920px )
    .page
        &-title
            &-img
                max-height: 420px
@media screen and ( max-width: 1353px )
    .visible-col
        display: none
    .swiper-container
        max-width: 1070px
    .hidden-card-lg
        display: none
    .swiper
        &-container
            &-sponsor
                max-width: 897px
    .newscard
        &-description
            max-width: 195px
        &-img
            max-width: 82px
@media screen and ( max-width: 1250px )
    .news

        &-card
            &-img
                &-sm
                    width: 120px
                // img
                //     width: 100%
    .hidden-card-lg
        display: none
    .newscard
        &-description
            max-width: 192px
            margin-left: 0
@media screen and ( max-width: 1205px )
    .container-custom
        max-width: 1140px
    .visible-col
        display: none
    .hidden-card-lg
        display: none
    
@media screen and ( max-width: 1139px )
    .swiper-container
        max-width: 875px
    .slide
        &-item
            width: 160px
            img
                width: 100%
    .hidden-card-lg
        display: none
    .swiper
        &-container
            &-sponsor
                max-width: 700px
@media screen and ( max-width: 1024px )

    .about
        padding-bottom: 60px
    .news
        padding-top: 60px
    .header-content
        max-width: 400px
        img
            width: 400px
    .news-all
        width: 100%
        display: flex
        justify-content: center
        margin: auto

        text-align: center
        &-sm
            padding-top: 40px
            margin: auto
            width: 100%
            display: flex
            justify-content: center
            a
                margin: auto
    .burger
        &-content
            &-services
                flex-direction: column
                padding-top: 10px
                padding-bottom: 0px
        &-footer
            &-content
                flex-direction: column
        &-services

            &-title
                margin-top: 10px
                font-size: 16px
            &-item
                font-size: 14px
                margin-top: 10px
                margin-bottom: 10px
    .hidden-card-md
        display: none
    .card-block-md
        display: flex
    .news
        &-card
            &-img
                &-sm
                    width: 355px
    .no-border-bottom
        display: flex
        border-bottom: none
        flex-direction: column
        justify-content: space-between
    .container-custom
        max-width: 960px
    .row-custom-adaptiv
        display: flex
    .visible-col
        display: block
    .services
        padding-top: 60px
        &-card
            &-content
                padding: 30px
    .about
        &-img
            margin-top: 40px
            img
                width: 100%
    .services
        &-img
            display: none
        &-text
            margin-bottom: 20px
        &-content
            display: flex
            flex-direction: column
            &-title
                font-size: 24px
            &-left
                text-align: center
    .advantages-content
        display: flex
        flex-direction: column
    .advantages-text
        text-align: center
        margin-bottom: 20px
    .advantages-content-title
        text-align: center
        max-width: 1000px
        font-size: 24px
    .about-content
        display: flex
        flex-direction: column
    .about-text
        text-align: center
        margin-bottom: 20px
    .about-content-title
        max-width: 1000px
        text-align: center
        font-size: 24px
        margin-bottom: 25px
    .about-description
        font-size: 16px
    .about-img
        max-height: 720px
        width: 100%
        img
            width: 100%
    .slide-title
        margin: auto
        // margin-top: 120px
        max-width: 1000px
        min-width: 100px
        text-align: center
        margin-top: 60px
    .slide-content-left
        display: none
    // .news-content-left
    //     display: none  
    .news-content
        display: flex
        flex-direction: column
    .news-text
        text-align: center
        font-size: 18px
    .news-title
        max-width: 1000px
        text-align: center
        font-size: 24px
        margin-top: 20px
    .brand-border-bottom-sm
        border-bottom: 1px solid #e6e6e6
    .news-content-title
        display: flex
        flex-direction: column
    .news-content-right
        width: 100%
    .locations-content
        display: flex
        flex-direction: column
    .locations-text
        text-align: center
        font-size: 18px
    .locations-content-title
        max-width: 1000px
        text-align: center
        font-size: 24px
        margin-top: 20px
    .locations-card
        min-width: 20px
    .locations-card-number
        font-size: 42px
    .locations-card-description
        font-size: 18px
    .form-content-title
        max-width: 1000px
        text-align: center
        font-size: 24px
    .form-content-description
        text-align: center
    .form-input
        font-size: 16px
    .form-description
        display: flex
        justify-content: center
        flex-direction: column
        margin: auto
        margin-top: 25px
    .footer-items
        padding-top: 40px
        padding-bottom: 40px
    .footer-boreder-top-sm
        border-top: 1px solid #494949
    .form-button
        margin: auto
        margin-top: 30px
    .footer-air-bottom
        padding-bottom: 40px
    .footer-air-left
        padding-left: 40px
    .footer-air-top
        padding-top: 40px
    .footer-air-right
        padding-right: 40px
    .none-sm
        display: none
    .brand-card-title
        font-size: 24px
        text-align: center
    .hide-col
        display: none
    .header-content img
        max-height: 50vh
    .brand-card-img-width
        max-width: 150px !important
    .container
        &-md
            max-width: 100%
@media screen and ( max-width: 992px )
    
    .error
        &-content
            &-text
                font-size: 20px
                margin-top: 40px
            &-button
                &-text
                    font-size: 16px
    .firstb
        &-lang
            margin-left: 50px
    .thirdb
        &-text
            margin-left: 40px
    .burger
        &-services
            &-title
                font-size: 18px
                margin-top: 30px
                margin-bottom: 30px
        &-footer
            &-title
                display: none
            &-input
                &-wraper
                    max-width: 100%
    ul.nav-burg-serv li
        width: 50%
        font-size: 16px
    .swiper
        &-button
            &-next
                &-news
                    span
                        display: none
            &-prev
                &-news
                    span
                        display: none
        &-buttons
            &-news
                max-width: 150px
    .display
        &-none
            &-sm
                display: none
    .padding
        &-none
            &-sm
                padding-left: 15px
                padding-right: 15px
    .col
        &-md
            &-none
                display: none
    .section
        padding-top: 60px
        padding-bottom: 60px
    .page
        &-content
            flex-direction: column
            &-title
                margin-bottom: 20px
                &-md
                    &-none
                        display: none
        &-road
            left: 50%
            transform: translate(-50%, 0)
        &-title
            padding-bottom: 80px
            padding-top: 160px
            &-img
                height: 320px
                img
                    height: 100%
            &-second
                padding-top: 170px
    .container
        &-md
            max-width: 720px
    //about
    .advantage
        &-text
            font-size: 16px
        &-title
            font-size: 24px
            margin-bottom: 20px
        &-img
            max-height: 240px
            max-width: 100%
            overflow: hidden
            display: flex
            justify-content: center
            align-items: center
            img
                height: 100%
                width: 100%
        &-card
            padding-left: 0
            padding-right: 25px
            &-text
                font-size: 16px
            &-border
                &-top
                    &-md
                        border-top: 1px solid rgba($black , 0.2 )
                &-right
                    &::after
                        content: none
    .leadership
        &-card
            padding: 5px
            &-text
                &-name
                    font-size: 18px
                &-description
                    font-size: 16px
    //about\\
    //locations
    .statistics
        background: url(../img/locations/map-page.png) center 50% no-repeat    
        background-size: 80%
        padding-top: 0
    .locations
        &-content
            &-title
                text-align: left
    .countries
        &-title
            font-size: 24px
            padding-bottom: 20px
            
                
        &-list 
            
            border-bottom: 1px solid rgba($black , 0.1 )
            li
                width: 50%
                font-size: 18px
                line-height: 18px
    //locations\\
    .services
        &-content
            &-title
                text-align: left
        &-card
            &-name
                font-size: 20px
                margin-top: 24px
            &-text
                font-size: 14px
    .brand-border-right-none::before
        content: none
    .brand-border-left-none::after
        content: none
    .advantages
        &-brand
            &-border
                &-right
                    &::before 
                        position: absolute
                        content: ''
                        width: 1px
                        height: 198px
                        background-color: #e6e6e6
                        bottom: 0px
                        left: -15px
                &-left
        &-card
            &-line
                &-one
                    position: relative
                    &::after
                        position: absolute
                        content: ''
                        width: 60px
                        height: 2px
                        background-color: $yellow
                        color: $yellow
                        bottom: 0px
                        left: 0px
                        border-radius: 10px
                &-two
                    position: relative
                    &::after
                        position: absolute
                        content: ''
                        width: 60px
                        height: 2px
                        background-color: $yellow
                        color: $yellow
                        bottom: 0px
                        left: 0px
                        border-radius: 10px
                &-three
                    position: relative
                    &::after
                        position: absolute
                        content: ''
                        width: 60px
                        height: 2px
                        background-color: $yellow
                        color: $yellow
                        bottom: 0px
                        left: 0px
                        border-radius: 10px
                &-four
                    position: relative
                    &::after
                        position: absolute
                        content: ''
                        width: 60px
                        height: 2px
                        background-color: $yellow
                        color: $yellow
                        bottom: 0px
                        left: 0px
                        border-radius: 10px
    // news
    .news
        &-card
            padding-top: 30px
            padding-bottom: 30px
            &-text
                font-size: 14px
            &-data
                &-text
                    font-size: 16px
            &-img
                max-height: 249px
    .current
        padding-top: 0
        &-card
            &-title
                &-up
                    text-align: center
                &-description
                    min-height: 300px
                    max-height: 314px
                &-text
                    padding-top: 20px
                    padding-bottom: 20px
                    padding-left: 10px
                    padding-right: 10px
            &-text
                font-size: 24px
                line-height: 33.6px
                &-data
                    display: flex
                    align-items: center
                    margin-top: 57px
                    &-text
                        font-size: 16px
                    &-vector
                        width: 20.21px
                        height: 16px
                        img
                            width: 100%
            &-sm
                display: flex
                flex-wrap: wrap
                &-img
                    max-width: 130px
                    height: 174px
                    img
                        height: 100%
                        width: 100%
                        object-fit: cover
                        background-size: 50%
                &-text
                    max-width: 184px 
                    margin-left: 16px
                &-time
                    font-family: 'Museo Sans Cyrl 500', sans-serif
                    font-size: 14px
                    line-height: 14px
                &-description
                    font-family: 'Museo Sans Cyrl 500', sans-serif
                    font-size: 14px
                    line-height: 21px
                    margin-bottom: 48px
                    span
                        display: none
                &-date
                    font-size: 16px
    // news\\
    // contacts
        
    .advantage
        &-border
            &-top
                padding-top: 0px
                border-top: 0px
        &-tab
            &-title
                font-size: 18px
                margin-top: 40px
            &-description
                font-size: 18px
                margin-top: 20px
        &-tabs
            padding-bottom: 40px
    .contacts
        &-img
            margin-top: 40px
            max-height: 320px
            overflow: hidden
            display: flex
            justify-content: center
            align-items: center
            img
                height: 100%
                background-size: 50%
        &-border
            &-top
                border-top: 1px solid rgba($black, 0.3 )
                padding-top: 40px
    // contacts\\
    // documented
    .documented
        padding-top: 0
        &-tabs
            display: flex
            justify-content: space-around
            width: 100%
        &-content
            border-top: 0
            padding-top: 0
        &-card
            &-title
                font-size: 16px
            &-text
                font-size: 14px
            &-button
                &-text
                    font-size: 16px
                &-vector
                    display: flex
                    align-items: center
    // documented\\
    // tools
    .tools
        &-card
            &-name
                // min-height: 60px
    // tools\\
    // serm
    .process
        &-buttom
            width: 100%
            display: flex
            justify-content: center
    .serm
        &-services
            &-cards
                &-title
                    margin-bottom: 0
            &-card
                padding-top: 40px
                &-text
                    font-size: 16px
                    line-height: 25px
            &-button
                
        &-description
            &-title
                margin-bottom: 20px
        &-process
            
            &-img
                display: none
            &-card
                padding-top: 20px
                max-width: 100%
                display: flex
                &-description
                    margin-left: 30px
                    padding-bottom: 40px
                    padding-top: 10px
                    height: auto
                &-img
                    flex-direction: column
                    margin-bottom: 0
                    &-vector
                        transform: rotate(90deg)
                        &::before
                            width: 100px
                        &-none-md
                            display: none
            &-second
                &-description
                    margin-top: 40px
                &-img
                    display: none
                &-card
                    display: flex
                    flex-direction: column
                    margin-bottom: 40px
                    &-button
                        margin-top: 40px
                        font-size: 16px
                        img
                            width: 20px
                            height: 14px
                        &::before
                            width: 195px
                    &-img
                        display: flex
                        align-items: flex-start
                        &-vector
                            &::before
                                right: -150px
                                top: 20px

                    &-description
                        margin-left: 0
                        
        &-distinction
            &-title
                margin-bottom: 20px
            &-card
                &-yellow
                    padding: 30px 
                &-item
                    &-text
                        font-size: 14px
        &-slider
            &-title
                max-width: 420px
        &-marketplace
            &-card
                &:nth-child(3n)::before
                    opacity: 0
    .slide
        &-sponsor
            &-description
                max-width: 150px
                margin: auto
                margin-top: 40px
    .swiper
        &-pagination
            &-fraction
                color: $black

    // serm\\
    .about
        padding-bottom: 0
        &-content
            &-title
                text-align: left
        &-img
            padding-left: 15px
            padding-right: 15px
            max-height: 320px
            display: flex
            justify-content: center
            align-items: center
            overflow: hidden
    .brand
        padding-top: 0
        &-border
            &-right
                &::before
                    height: 100px
                &-none
                    &::before
                        content: none
            &-left
                &::after
                    height: 100px
                &-none
                    &::after
                        content: none
        &-card
            height: 100px
            &-img
                max-width: 120px
                max-height: 76px
                img
                    height: 100%
                    // max-height: 76px
                    object-fit: cover
            &-title
                &-md
                    height: 34px
                    padding-top: 50px
                    padding-bottom: 30px
                    text-align: left
                    display: flex
                    justify-content: flex-start
    .customers
        padding-top: 0
        &-content
            &-titles
                display: flex
                flex-wrap: wrap
                justify-content: center
                max-width: 500px
                margin: auto
                padding-top: 40px
                position: relative
                &::before
                    position: absolute
                    content: ''
                    width: 630px
                    height: 0.5px
                    background-color: rgba($black , 0.3)
                    top: 0px     
            &-title
                &-left
                    margin-left: 30px
                    margin-right: 30px
        &-card
            padding: 40px
            &-title
                font-size: 24px
                line-height: 33.6px 
            &-img
                margin-bottom: 20px
                max-width: 115px
                max-height: 40px
            &-text
                font-size: 14px
                line-height: 21px
            &-button
                padding: 0
                display: flex

                align-items: center
                &-text
                    font-size: 16px
                &-img
                    width: 18.9px
                    height: 15.44px
                    display: flex
                    justify-content: center
                    align-items: center
                    img
                        width: 100%
    .locations
        background: url(../img/locations/map.png) 70% center/contain no-repeat
    .advantages
        &-brand
            &-border
                &-right
                    position: relative
                    &::before 
                        position: absolute
                        content: ''
                        width: 1px
                        height: 198px
                        background-color: #e6e6e6
                        bottom: 0px
                        right: -15px
    .request
        &-card
            &-promo
                padding: 30px
@media screen and ( max-width: 768px )
    
    .current-card-text-data
        margin-top: 20px
    .customers
        &-content
            &-titles
                &::before
                    position: absolute
                    content: ''
                    width: 430px
                    height: 0.5px
                    background-color: rgba($black , 0.3)
                    top: 0px     
    .menu
        &-firstb
            display: flex
            justify-content: space-between
            width: 100%
            padding-right: 15px
            padding-left: 15px
        &-thirdb
            display: none
        &-lang
            width: 90vw
            left: 50%
            transform: translate(-50%,)
            position: fixed
            &-active
                top: 88px
    .firstb
        &-menu

            span
                display: none
        &-lang
            margin-right: 15px
            // span
            //     margin-right: 10px
            &-text
                display: none
            &-world
                margin-right: 13px                
    .current
        &-card
            &-sm
                &-img
                    max-width: 100%
    .news-all
        width: 100%
        display: flex
        justify-content: center
        margin: auto

        text-align: center
        &-sm
            padding-top: 40px
            margin: auto
            width: 100%
            display: flex
            justify-content: center
            a
                margin: auto
    .news-adaptiv
        display: flex
        flex-direction: column

    .container-custom
        max-width: 720px
    .swiper-container
        max-width: 600px
    .locations
        &-card
            min-width: 100px
            &-description
                font-size: 18px

    .brand-card-img
        width: 70px
        display: flex
        justify-content: center
        align-items: center
        img
            width: 110px
    .about-img
        max-height: 420px
    .hide-col
        display: none
    .visible-col
        display: block
    .footer
        &-border-right
            border-right: none
        &-items
            display: none
    .form
        &-img
            &-success
                &-active
                    display: flex
                    justify-content: center
                    img
                        margin: auto
                        left: 50%
    .serm
        &-faq
            &-card
                &-border
                    &-bottom
                        &-none
                            &-md
                                border-bottom: 0px solid #000
    .advantages
        &-brand
            &-border
                &-right
                    position: relative
                    &::after
                        position: absolute
                        content: ''
                        width: 1px
                        height: 198px
                        background-color: #e6e6e6
                        bottom: 0px
                        left: -15px
                        
@media screen and ( max-width: 576px )
    .countries
        &-list 
            li
                display: inline-block
                width: 49%
        &-lists
            ul
                padding-left: 0

    .bg
        &-light
            &-blue
                background-color: $white
    .error
        &-content
            &-description
                width: 100%
            &-text
                font-size: 16px
    .about
        padding-bottom: 0
    .page
        &-content
            &-title
                margin-bottom: 12px
                padding-bottom: 24px
                margin-bottom: 0
    .serm
        &-description
            &-title
                font-size: 18px
                line-height: 25px
        &-process
            &-card
                &-description
                    margin-left: 15px
            &-second
                &-card
                    &-button
                        font-size: 14px
                        &::before
                            width: 175px
                    &-img
                        &-vector
                            &::before
                                right: -120px
    .about
        &-description
            line-height: 21px
        &-img
            padding-right: 0
            padding-left: 0
            max-height: 320px
            img
                width: 100%
                object-fit: cover
    .section
        &-top
            &-none
                padding-top: 0
    .news
        &-card
            &-description
                max-width: 100%
            &-descriptionbig
                margin-top: 0
            &-img
                max-height: 120px
                img
                    width: 100%
    .brand
        &-card
            &-title
                max-width: 250px
        //
    // .menu
    //     &-firstb
    //         padding-top: 20px
    //         padding-bottom: 20px
    //         width: 100%
    //         display: flex
    //         justify-content: space-between
    .section
        padding-top: 60px
        padding-bottom: 60px
    .container
        adding-right: 15px
        padding-left: 15px
        // max-width: 450px
        &-custom
            padding-right: 0px
            padding-left: 0px
            width: 100%
            // max-width: 450px
    .hide-col-sm
        display: none
    // .firstb
    //     &-menu
    //         span
    //             display: none
    //         svg
    //             width: 35px
    .hidden-card-sm
        display: none
    .news-all
        width: 100%
        display: flex
        justify-content: center
        margin: auto

        text-align: center
        &-sm
            padding-top: 40px
            margin: auto
            width: 100%
            display: flex
            justify-content: center
            a
                margin: auto
    .visible-col
        display: block

    .hide-col
        display: none
    .swiper-container
        max-width: 303px
    .slide
        &-title
            min-width: 100px
            max-width: 315px
            font-size: 18px
        &-item
            width: 140px
    .hidden
        &-sm
            display: none

    // .firstb-lang svg
    //     margin-right: 10px
    .header-content
        img
            width: 240px
    .header-buttons
        display: flex
        flex-direction: column
        justify-content: center
    .header-button
        margin: auto
        margin-top: 10px
        margin-bottom: 10px
    .services
        padding-top: 60px
        padding-bottom: 60px
    .services-text
        text-align: left

        font-size: 16px
        font-size: 18px
    .padding0
        padding-left: 0
        padding-right: 0
    .services-content-title
        text-align: left
        margin-bottom: 24px
        font-size: 18px
        line-height: 25.2px
    .services-card-name
        margin-top: 0px
        font-size: 16px
        color: $yellow
        position: absolute
        top: 28px
        left: 70px

    .services-card-text
        font-size: 14px
        line-height: 21px
    .services-card-more svg
        height: 20px
        width: 20px
        fill: $yellow
        stroke: $yellow
    .services-card-icon
        height: 40px
        width: 40px
        align-items: center
        svg
            margin-top: 2px
            height: 24px
            width: 18.7px
    .services-card-content
        padding: 20px
    .services-card
        padding-top: 8px
        padding-bottom: 8px
    .brand-border-none
        border: none
    .none-pselem
        &::before
            content: none
        &::after
            content: none

    .advantages
        // padding-top: 60px
        // padding-bottom: 60px
        &-text
            text-align: left
            // margin-left: 15px
            font-size: 16px
            margin-bottom: 12px
        &-content
            &-title
                font-size: 18px
                text-align: left
                margin-bottom: 32px
        &-card
            height: 56px
            &-content
                display: flex
                padding: 0
                min-height: 96px
                &-text
                    margin-top: -33px
                    display: flex
                    align-items: center
                &-number
                    font-size: 40px
                    color: #fdde97
                    margin-right: 20px
                    // &::after
                    //     width: 60px
                    //     top: 70px
                    //     height: 1px
            &-line
                &-one
                    position: relative
                    &::after
                        position: absolute
                        content: ''
                        width: 60px
                        height: 1px
                        background-color: $yellow
                        color: $yellow
                        bottom: 0px
                        left: 0px
                        border-radius: 10px
                        top: 70px
                &-two
                    position: relative
                    &::after
                        position: absolute
                        content: ''
                        width: 80px
                        height: 1px
                        background-color: $yellow
                        color: $yellow
                        bottom: 0px
                        left: 0px
                        border-radius: 10px
                        top: 70px
                &-three
                    position: relative
                    &::after
                        position: absolute
                        content: ''
                        width: 100px
                        height: 1px
                        background-color: $yellow
                        color: $yellow
                        bottom: 0px
                        left: 0px
                        border-radius: 10px
                        top: 70px
                &-four
                    position: relative
                    &::after
                        position: absolute
                        content: ''
                        width: 120px
                        height: 1px
                        background-color: $yellow
                        color: $yellow
                        bottom: 0px
                        left: 0px
                        border-radius: 10px
                        top: 70px
    .padding-none-col
        padding: 0px

    .about
        // padding-top: 60px
        // padding-bottom: 60px
        &-text
            text-align: left
            margin-left: 10px
            font-size: 16px
            margin-bottom: 12px
        &-content
            &-title
                text-align: left
                font-size: 16px
                margin-bottom: 12px
        &-description
            font-size: 14px
            text-align: left

    .slide
        &-title
            margin-top: 60px
            text-align: left
            margin-bottom: 40px
            margin-left: 15px
    .news
        // padding-top: 60px
        // padding-bottom: 60px
        &-text
            text-align: left
            margin-left: 0px
            font-size: 16px
            margin-bottom: 12px
        &-title
            text-align: left
            margin-left: 0px
            font-size: 16px
            margin-bottom: 12px
        &-card
            &-text
                margin-top: 12px
                font-size: 14px
            &-date
                margin-top: 0px
                display: flex
                justify-content: start
                align-items: center
                margin-top: 16px
                &-text

                    font-size: 14px
                    display: flex
                    align-items: center
                &-next
                    margin-left: 17px
                    height: 13.5px
                    width: 16.5px
                    img
                        width: 100%
                        height: 100%

            &-time
                margin-top: 16px
                font-size: 14px
            &-content
                display: flex
                flex-direction: column
            &-contentbig
                display: flex
                flex-direction: column
                img
            &-description
                margin-left: 0
            &-descriptionbig
                &-sm
                    margin-left: 0px
            &-imgbig
                &-sm
                    overflow: hidden
                    width: 100%
                    height: 180px
                    display: flex
                    align-items: center
                    justify-content: center
                    img
                        width: 100%
            &-img
                &-sm
                    overflow: hidden
                    width: 100%
                    height: 180px
                    display: flex
                    align-items: center
                    justify-content: center
                    img

                        width: 100%
    .brand
        padding-top: 30px
        &-card
            padding: 0px
            height: 100px
            &-title
                text-align: left
                font-size: 18px
            &-img
                img
                    // width: 70px
    .brand-border-left::after
        height: 110px
    .brand-border-right::before
        content: none

    .locations
        // padding-top: 60px
        // padding-bottom: 30px
        &-text
            text-align: left
            font-size: 16px
            margin-bottom: 0px
        &-content
            &-title
                text-align: left
                font-size: 18px
        &-card
            &-description
                font-size: 16px
            &-content
                margin-bottom: 32px
        &-country
            &-card
                margin-bottom: 32px
                &-last
                    margin-bottom: 0
                &-number
                    font-size: 42px
                    line-height: 31.5px
                    padding-bottom: 12px
                &-description
                    font-size: 16px
                    padding-top: 12px
                &-img
                    min-height: 320px
                    max-height: 320px
                    overflow: hidden
                    img
                        height: 100%
                        width: none

    .form
        &-content
            padding-left: 10px
            padding-right: 0
            padding-top: 0
            // padding-top: 60px
            // padding-bottom: 60px
            &-title
                text-align: left
                font-size: 18px
            &-description
                text-align: left
        &-input
            margin-top: 40px
        &-message
            height: 140px
        &-description
            width: 100%
            margin-left: 15px
            margin-right: 15px
        &-button
            width: 100%
            display: flex
            justify-content: center

    .footer
        padding-right: 15px
        padding-left: 15px
        padding-top: 40px
        padding-bottom: 40px
        &-air
            &-right
                padding-right: 10px
            &-left
                padding-left: 10px
            &-top
                padding-top: 20px
            &-bottom
                padding-bottom: 20px
    .footer-border-top-col
        border-top: 1px solid #494949
    .footer-card-policy-text
        font-size: 12px
    .footer-card-title
        font-size: 14px
    .footer-card-item
        font-size: 12px
        color: #ffffffa9
    .form-button
        display: flex
        justify-content: space-between
    .about
        padding-bottom: 0
    //serm
    .page
        &-road
            display: none
        &-title
            font-size: 24px
            padding-top: 130px
            padding-bottom: 48px
            &-img
                max-height: 200px
        &-content
            &-title
                font-size: 16px
    .serm-marketplace-card:nth-child(2n)::before
        opacity: 0
    .serm
        &-marketplace
            &-card
                border-top: 1px solid rgba($black , 0.1 )
                // &:nth-child(2n)::before
                //     opacity: 0
                &::before
                    height: 40px
            &-content
                &-card
                    margin-top: 25px
                    margin-bottom: 25px
                    max-width: 100px
                    max-height: 40px
                    
        &-services
            &-card
                padding-top: 24px
                padding-bottom: 24px
                &-img
                    height: 40px
                    width: 40px
                    margin-bottom: 24px
                    svg
                        height: 24px
                        width: 24px
                &-text
                    font-size: 14px
        &-description
            &-title
                margin-bottom: 16px
            &-text
                font-size: 14px
                margin-bottom: 12px
            &-video
                height: 200px
        &-process
            &-card
                &-description
                    padding-bottom: 0
                &-title
                    font-size: 16px
                &-text
                    font-size: 14px
        &-distinction
            &-text
                margin-bottom: 24px
            &-card
                &-yellow
                    padding: 20px
                    margin-bottom: 32px
                    &:last-child
                        margin-bottom: 0
                &-title
                    &-yellow
                        font-size: 18px
                        padding-bottom: 20px
                &-item
                    padding-top: 16px
        &-faq
            &-card
                &-trigger
                    padding-top: 24px
                    padding-bottom: 24px
                    &-num
                        font-size: 18px
                    &-text
                        font-size: 16px
                        margin-left: 12px
                    &-add
                        &::after
                            height: 16px
                            width: 2px
                            top: -7px
                            right: 7px
                        &::before
                            width: 16px
                            height: 2px
                &-content
                    margin-left: 35px
                    font-size: 14px
                    line-height: 21px
                    padding-bottom: 24px
    .serm-faq-card-active .serm-faq-card-content 
        top: 60px
    .advantage
        &-card
            padding-top: 24px
            padding-bottom: 24px
            &-text
                font-size: 14px
            &-img
                width: 40px
                height: 40px
                img
                    width: 20px
                    height: 15px
        &-text
            font-size: 14px
            line-height: 21px
            &-first
                margin-bottom: 12px
        &-title
            font-size: 18px
    .button
        &-getintouch
            width: 100%
            font-size: 14px
    .leadership
        &-card
            padding: 0 
            &-text
                display: flex
                justify-content: space-between
                align-items: center
                margin-left: 28px
                margin-top: 40px
                margin-bottom: 24px
                &::after
                    left: -28px
                    top: 11px
                    width: 20px
                &-name
                    font-size: 16px
                &-description
                    font-size: 12px
            &-img
                max-width: 100%
                max-height: 300px
                overflow: hidden
            &-none
                &-sm
                    display: none
                    &-active
                        display: block
            &-see
                display: block
    .statistics
        padding-top: 0
        background: none
    .countries
        &-title
            margin-bottom: 0
            font-size: 18px
            padding-top: 24px
            padding-bottom: 24px
            position: relative
            cursor: pointer
            &::before
                position: absolute
                content: ''
                width: 10px
                height: 2px
                border-radius: 0.5px
                background-color: $black
                top: 33px
                right: 0
                transform: rotate(45deg)
            &::after
                position: absolute
                content: ''
                width: 10px
                height: 2px
                background-color: $black
                right: 0
                top: 40px
                transform: rotate(135deg)
            &-up
                &-sm
                    padding-top: 24px
                    margin-bottom: 0
                    border-top: 1px solid rgba($black , 0.1 )
            &-active
                border-bottom: 0 solid #ffffff
                &::before
                    
                    top: 43px
                    right: 0
                    transform: rotate(135deg)
                &::after
                    
                    right: 6px
                    top: 43px
                    transform: rotate(45deg)
        &-list 
            display: none
            &-active
                display: block
            li
                font-size: 14px
    .display
        &-vivsible
            display: block
            &-countries
                margin-bottom: 32px
    .current
        padding-top: 0
        &-card
            &-text
                font-size: 14px
                line-height: 21px
                &-time
                    font-size: 12px
                    margin-top: 8px
                &-data
                    margin-top: 65px
                    &-text
                        font-size: 14px
                        line-height: 14px
                    &-vector
                        width: 16.37px
                        height: 13.51px
                        img
                            width: 100%
            &-title
                margin-bottom: 24px
                &-text
                    padding-left: 0
                    padding-right: 0
                    padding-bottom: 12px
                    padding-top: 12px
                &-description
                    min-height: 200px
                    padding-top: 12px
                    padding-bottom: 12px
            &-sm
                padding-top: 24px
                padding-bottom: 24px
                &-text
                    margin-left: 0
                    max-width: 100%
                &-img
                    max-width: 100%
                    max-height: 120px
                    margin-bottom: 16px
                &-description
                    margin-bottom: 16px
                &-date
                    justify-content: flex-start
                    align-items: center
                    &-text
                        margin-right: 16px
                &-vector
                    width: 16.37px
                    height: 13.51px
                    img
                        width: 100%
    .newscard
        &-big
            &-img
                // height: 200px
                &-src
                    font-size: 14px
                    
            &-title
                font-size: 18px
                line-height: 25.2px
                &-description
                    &-data
                        font-size: 14px
            &-content
                font-size: 14px
                margin-top: 12px
    .contacts
        padding-top: 0
        &-img
            max-height: 200px
            align-items: flex-end
        &-border
            &-top
                padding-top: 24px
    .advantage
        &-tab
            &-title
                margin-top: 32px
                font-size: 14px
                line-height: 14px
            &-description
                font-size: 14px    
                margin-top: 12px
        &-items
            width: 100%
        &-tabs
            display: none
            &-active
                display: block
        &-border
            &-butom
                &-sm
                    border-bottom: 1px solid rgba($black ,0.3 )
    .contact
        &-title
            margin-bottom: 0
        &-left
            &-title
                position: relative
                cursor: pointer
                &::before
                    position: absolute
                    content: ''
                    width: 10px
                    height: 2px
                    border-radius: 0.5px
                    background-color: $black
                    top: 33px
                    right: 0
                    transform: rotate(45deg)
                &::after
                    position: absolute
                    content: ''
                    width: 10px
                    height: 2px
                    background-color: $black
                    right: 0
                    top: 40px
                    transform: rotate(135deg)
                &-active
                    border-bottom: 0 solid #ffffff
                    &::after
                        content: none
                    &::before
                        content: none
                        

    .documented
        padding-top: 0
        &-content
            &-title
                &-left
                    font-size: 14px
                    margin-bottom: 0
                    margin-top: 0
                    padding-top: 16px
                    padding-bottom: 16px   
                    font-family: 'Museo Sans Cyrl 700', sans-serif
                    text-transform:  capitalize
                    color: $yellow
                    &:hover
                        text-decoration: none
                        color: $black
                    &-active
                        color: $black
                        text-decoration: none

        &-card
            &-text
                margin-bottom: 24px
        &-tabs
            flex-direction: column
            margin-left: 30px
            border-top: none
            padding-top: 8px
            padding-bottom: 8px
            display: none
            &-active
                display: block
            &-title
                &-show
                    &-sm
                        display: block
                        margin: 0
                        margin-left: 0
                        margin-right: 0
                        margin-bottom: 40px
                        padding-top: 24px
                        padding-bottom: 24px
                        border-top: 1px solid rgba(30, 30, 30, 0.3)
                        border-bottom: 1px solid rgba(30, 30, 30, 0.3)
                        position: relative
                        cursor: pointer
                        color: #ffb000
                        font-family: 'Museo Sans Cyrl 500', sans-serif
                        font-size: 16px
                        text-transform: uppercase
                        text-decoration: underline
                        &::before 
                            position: absolute
                            content: ''
                            width: 10px
                            height: 2px
                            border-radius: 0.5px
                            background-color: #ffb000
                            top: 38px
                            right: 15px
                            transform: rotate(45deg)
                        &::after 
                            position: absolute
                            content: ''
                            width: 10px
                            height: 2px
                            background-color: #ffb000
                            right: 15px
                            top: 44px
                            transform: rotate(135deg)
                        &-active
                            margin-bottom: 0
                            &::after
                                top: 38px
                                right: 21px
                                transform: rotate(45deg)
                            &::before
                                transform: rotate(135deg)
    .customers
        padding-top: 0
        &-card
            padding: 20px
            margin-bottom: 14px
            &-img
                width: 57.5px
                height: 20px
            &-title
                font-size: 18px
                line-height: 25px
                margin-bottom: 12px
            p
                font-size: 14px
                line-height: 21px
            &-text
                margin-bottom: 24px
                span
                    display: none
            &-button
                &-text
                    font-size: 14px
                &-img
                    margin-left: 16px
                    width: 18px
                    height: 14px
                    img
                        width: 100%
        &-content
            &-tab
                &-show
                    &-sm
                        display: block
                        margin: 0
                        margin-left: 0
                        margin-right: 0
                        padding-top: 24px
                        padding-bottom: 24px
                        border-top: 1px solid rgba($black , 0.3)
                        border-bottom: 1px solid rgba($black , 0.3)
                        position: relative
                        cursor: pointer
                        color: $yellow
                        font-family: 'Museo Sans Cyrl 500', sans-serif
                        font-size: 16px
                        text-transform: uppercase
                        text-decoration: underline
                        &::before
                            position: absolute
                            content: ''
                            width: 10px
                            height: 2px
                            border-radius: 0.5px
                            background-color: $yellow
                            top: 38px
                            right: 15px
                            transform: rotate(45deg)
                        &::after
                            position: absolute
                            content: ''
                            width: 10px
                            height: 2px
                            background-color: $yellow
                            right: 15px
                            top: 44px
                            transform: rotate(135deg)
                        &-active
                            &::before
                                transform: rotate(135deg)
                            &::after
                                top: 38px
                                right: 21px
                                transform: rotate(45deg)
            &-titles
                flex-direction: column  
                padding-top: 8px
                padding-bottom: 8px
                border-top: 0 solid #000
                display: none
                &::before
                    content: none  
                &-active
                    display: block 
            &-title
                &-left
                    font-size: 14px
                    margin-bottom: 0
                    margin-top: 0
                    padding-top: 16px
                    padding-bottom: 16px   
                    font-family: 'Museo Sans Cyrl 700', sans-serif
                    text-transform:  capitalize
                    color: $yellow
                    &:hover
                        text-decoration: none
                        color: $black
                    &-active
                        color: $black
                        text-decoration: none
    ul.nav-burg-serv li
        width: 100%
    .burger
        &-services
            &-title
                font-family: 'Museo Sans Cyrl 300', sans-serif
                font-size: 16px
                margin-top: 24px
                margin-bottom: 24px
            &-right
                display: none
                &-active
                    display: block
            &-item
                font-size: 14px
                
        &-footer
            &-title
                display: block
                opacity: 1
        &-content
            &-services
                padding-top: 0
                position: relative
                cursor: pointer
                &::before
                    position: absolute
                    content: ''
                    width: 10px
                    height: 2px
                    border-radius: 0.5px
                    background-color: $black
                    top: 38px
                    right: 15px
                    transform: rotate(45deg)
                &::after
                    position: absolute
                    content: ''
                    width: 10px
                    height: 2px
                    background-color: $black
                    right: 15px
                    top: 44px
                    transform: rotate(135deg)
                &-active
                    &::before
                        top: 43px
                        right: 11px
                        transform: rotate(135deg)
                    &::after    
                        right: 17px
                        top: 43px
                        transform: rotate(45deg)
                    .burger-services-title
                        margin-bottom: 8px
    .form
        &-content
            &-right
                padding-right: 15px
    .opacity
        &-content
            &-active
                position: relative
                &::before
                    position: absolute  
                    content: ''
                    width: 100%
                    height: 100%
                    overflow: hidden
                    background-color: rgba($black , 0.3 )
                    z-index: 2
            &-document
                &-active
                    position: relative
                    &::before
                        position: absolute  
                        content: ''
                        width: 100%
                        height: 100%
                        overflow: hidden
                        background-color: rgba($black , 0.3 )
                        z-index: 2
    .tools
        &-ebay
            &-description
                &-card
                    margin-top: 20px
                    &-title
                        font-size: 18px
                    &-status
                        font-size: 18px
            &-cards
                margin-top: 20px
            &-card
                &-button
                    &-text
                        font-size: 16px
                &-text
                    font-size: 14px
                &-up
                    &-title
                        font-size: 20px
                    &-img
                        width: 60px
                        height: 60px
                        svg
                            width: 36px
                            height: 36px
    .request
        &-card
            &-promo
                padding: 20px
@media screen and ( max-width: 400px )
    .news-all
        width: 100%
        display: flex
        justify-content: center
        margin: auto

        text-align: center
        &-sm
            padding-top: 40px
            margin: auto
            width: 100%
            display: flex
            justify-content: center
            a
                margin: auto
    .news-card-imgbig-sm
        height: 120px
    .news-card-img-sm
        height: 120px
    .slide-title
        max-width: 281px
    .hide-col
        display: none
@media screen and ( max-width: 325px )
    .news-all
        width: 100%
        display: flex
        justify-content: center
        margin: auto

        text-align: center
        &-sm
            padding-top: 40px
            margin: auto
            width: 100%
            display: flex
            justify-content: center
            a
                margin: auto
    .slide
        &-title
            min-width: 100px
            max-width: 273px
    .hide-col
        display: none
