@media screen and ( max-width: 4000px )
    .visible-col
        display: none
    .hidden-card-lg
        display: none
@media screen and ( max-width: 1349px )
    .visible-col
        display: none
    .swiper-container
        max-width: 1070px
    .hidden-card-lg
        display: none
@media screen and ( max-width: 1250px )
    .news
        &-card
            &-img
                &-sm
                    width: 120px
                img
                    width: 100%
    .hidden-card-lg
        display: none
    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
        bottom: 2px
@media screen and ( max-width: 1200px )
    .container-custom
        max-width: 1140px
    .visible-col
        display: none
    .hidden-card-lg
        display: none
@media screen and ( max-width: 1139px )
    .swiper-container
        max-width: 875px
    .slide
        &-item
            width: 160px
            img
                width: 100%
    .hidden-card-lg
        display: none
@media screen and ( max-width: 1024px )
    .header-content
        max-width: 400px
        img
            width: 400px
    // .header-button 
    //     width: 10px   

    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
        margin: auto
        text-align: center
        width: 100%
        right: 0
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next
        left: 40%
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev
        right: 40%
    .news-all
        width: 100%
        display: flex
        justify-content: center
        margin: auto
        
        text-align: center
        &-sm
            padding-top: 40px
            margin: auto
            width: 100%
            display: flex
            justify-content: center
            a
                margin: auto
    .burger
        &-content
            &-services
                flex-direction: column
                padding-top: 10px
                padding-bottom: 0px
        &-footer
            display: none
            &-content
                flex-direction: column
        &-services
            
            &-title
                margin-top: 10px
                font-size: 16px
            &-item
                font-size: 14px
                margin-top: 10px
                margin-bottom: 10px
    .hidden-card-md
        display: none
    .card-block-md
        display: flex
    .news
        &-card
            &-img
                &-sm
                    width: 355px
    .no-border-bottom
        display: flex
        border-bottom: none
        
        flex-direction: column
        justify-content: space-between
    .container-custom
        max-width: 960px
    .row-custom-adaptiv
        display: flex

    .visible-col
        display: block
    .services
        padding-top: 60px
        &-card
            &-content
                padding: 30px
    .about
        &-img
            margin-top: 40px
            img
                width: 100%
    .services
        &-img
            display: none
        &-text
            margin-bottom: 20px
        &-content
            display: flex
            flex-direction: column
            &-title
                font-size: 24px
            &-left
                text-align: center
    .advantages-content
        display: flex
        flex-direction: column
    .advantages-text 
        text-align: center
        margin-bottom: 20px
    .advantages-content-title
        text-align: center
        max-width: 1000px
        font-size: 24px
    // .advantages-content-left
    //     display: none
    .about-content
        display: flex
        flex-direction: column
    // .about-content-left
    //     display: none
    .about-text
        text-align: center
        margin-bottom: 20px
    .about-content-title
        max-width: 1000px
        text-align: center
        font-size: 24px
        margin-bottom: 25px
    .about-description
        font-size: 16px
    .about-img
        max-height: 720px
        width: 100%
        img
            width: 100%
    .slide-title
        margin: auto
        margin-top: 120px
        max-width: 1000px
        text-align: center
    
    .slide-content-left
        display: none
    // .news-content-left
    //     display: none  
    .news-content
        display: flex
        flex-direction: column
    .news-text
        text-align: center
        font-size: 18px
    .news-title
        max-width: 1000px
        text-align: center
        font-size: 24px
        margin-top: 20px
    .brand-border-bottom-sm
        border-bottom: 1px solid #e6e6e6
    .news-content-title
        display: flex
        flex-direction: column
    .news-content-right
        width: 100%
    .locations-content
        display: flex
        flex-direction: column    
    // .locations-content-left
    //     display: none
    .locations-text
        text-align: center
        font-size: 18px
    .locations-content-title
        max-width: 1000px
        text-align: center
        font-size: 24px
        margin-top: 20px
    .locations-card
        min-width: 20px
    .locations-card-number
        font-size: 42px
    .locations-card-description 
        font-size: 18px
    .form-content-title
        max-width: 1000px
        text-align: center
        font-size: 24px
    .form-content-description
        text-align: center
    .form-input
        font-size: 16px
    .form-description
        display: flex
        justify-content: center
        flex-direction: column
        margin: auto
        margin-top: 25px
    .footer-items 
        padding-top: 40px
        padding-bottom: 40px
    .footer-boreder-top-sm
        border-top: 1px solid #494949
    .form-button
        margin: auto
        margin-top: 30px
    .footer-air-bottom
        padding-bottom: 40px
    .footer-air-left
        padding-left: 40px
    .footer-air-top
        padding-top: 40px
    .footer-air-right 
        padding-right: 40px
    .none-sm
        display: none
    .services-content-title 
        text-align: center
        max-width: 1000px
    .brand-card-title
        font-size: 24px
        text-align: center
    .brand-card-content 
        img
            width: 100%
    .brand-card-img
        width: 70px
        display: flex
        justify-content: center
        align-items: center
        img
            width: 100px
    .firstb-lang
        margin-left: 20px       
    .thirdb-text
        margin-left: 20px
    .hide-col 
        display: none
    
    .menu
        &-firstb
            padding-top: 20px
            padding-bottom: 20px
            width: 100%
            display: flex
            justify-content: space-between
    .header-content img 
        max-height: 50vh

@media screen and ( max-width: 840px )
    .hide-col 
        display: none
    .about-img
        max-height: 550px
    .visible-col
        display: block
    
    .news-all
        width: 100%
        display: flex
        justify-content: center
        margin: auto
        
        text-align: center
        &-sm
            padding-top: 40px
            margin: auto
            width: 100%
            display: flex
            justify-content: center
            a
                margin: auto
    .hide-col 
        display: none
@media screen and ( max-width: 634px )
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next
        left: 30%
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev
        right: 30%
@media screen and ( max-width: 768px )
    .news-all
        width: 100%
        display: flex
        justify-content: center
        margin: auto
        
        text-align: center
        &-sm
            padding-top: 40px
            margin: auto
            width: 100%
            display: flex
            justify-content: center
            a
                margin: auto
    .news-adaptiv
        display: flex
        flex-direction: column
    
    .container-custom
        max-width: 720px
    .swiper-container
        max-width: 600px
    .locations
        &-card
            min-width: 100px
            &-number
                font-size: 30px
            &-description
                font-size: 18px
    .brand-card-img
        width: 70px
        display: flex
        justify-content: center
        align-items: center
        img
            width: 110px
    .about-img
        max-height: 420px
    .hide-col 
        display: none
    .visible-col
        display: block
@media screen and ( max-width: 576px )
    .hide-col-sm
        display: none
    .firstb
        &-menu 
            span
                display: none
            svg
                width: 35px
    .hidden-card-sm
        display: none
    .news-all
        width: 100%
        display: flex
        justify-content: center
        margin: auto
        
        text-align: center
        &-sm
            padding-top: 40px
            margin: auto
            width: 100%
            display: flex
            justify-content: center
            a
                margin: auto
    .container-custom
        max-width: 540px
    .visible-col
        display: block
    
    .hide-col
        display: none
    .swiper-container
        max-width: 303px
    .slide
        &-title
            min-width: 100px
            max-width: 315px
            font-size: 18px
        &-item
            width: 140px
    .hidden
        &-sm
            display: none
    
    .firstb-lang svg
        margin-right: 10px
    .header-content
        img
            width: 240px
    .header-buttons 
        display: flex
        flex-direction: column
        justify-content: center
    .header-button
        margin: auto
        margin-top: 10px
        margin-bottom: 10px
    .services
        padding-top: 60px
        padding-bottom: 60px
    .services-text 
        text-align: left
        
        font-size: 16px
        font-size: 18px
    .padding0
        padding-left: 0
        padding-right: 0
    .services-content-title
        text-align: left
        margin-bottom: 24px
        font-size: 18px
    .services-card-name
        margin-top: 0px
        font-size: 16px
        color: $yellow
        position: absolute
        top: 38px
        left: 100px
        
    .services-card-text
        font-size: 14px
        line-height: 21px
    .services-card-more svg
        height: 20px
        width: 20px
        fill: $yellow
        stroke: $yellow
    .services-card-icon
        height: 40px
        width: 40px
        align-items: center
        svg
            margin-top: 2px
            height: 24px
            width: 18.7px
    .services-card-content 
        padding: 20px
    .services-card
        padding-top: 8px
        padding-bottom: 8px
    .brand-border-none
        border: none
    .none-pselem
        &::before
            content: none
        &::after
            content: none
            
            
    .advantages
        padding-top: 60px
        padding-bottom: 60px
        &-text 
            text-align: left
            // margin-left: 15px
            font-size: 16px
            margin-bottom: 12px
        &-content
            &-title
                font-size: 18px
                text-align: left
                margin-bottom: 32px
        &-card
            height: 90px
            &-content
                display: flex
                padding: 0
                min-height: 96px
                &-text
                    margin-top: 10px
                    display: flex
                    align-items: center
                &-number
                    font-size: 40px
                    color: #fdde97
                    margin-right: 20px
                    &::after
                        width: 60px

    .padding-none-col
        padding: 0px
    
    .about
        padding-top: 60px
        padding-bottom: 60px
        &-text
            text-align: left
            margin-left: 15px
            font-size: 16px
            margin-bottom: 12px
        &-content
            &-title
                text-align: left
                font-size: 16px
                margin-bottom: 12px
        &-description
            font-size: 14px
            text-align: left

    .slide
        &-title
            margin-top: 60px 
            text-align: left
            margin-bottom: 40px
            margin-left: 15px
    .news
        padding-top: 60px
        padding-bottom: 60px
        &-text
            text-align: left
            margin-left: 0px
            font-size: 16px
            margin-bottom: 12px
        &-title
            text-align: left
            margin-left: 0px
            font-size: 16px
            margin-bottom: 12px
        &-card
            &-text
                margin-top: 12px
                font-size: 14px
            &-date
                margin-top: 0px
                display: flex
                justify-content: start
                align-items: center
                margin-top: 16px
                &-text
                    
                    font-size: 14px
                    display: flex
                    align-items: center
                &-next
                    margin-left: 17px
                    height: 13.5px
                    width: 16.5px
                    img
                        width: 100%
                        height: 100%
                        
            &-time
                margin-top: 16px
                font-size: 14px
            &-content
                display: flex
                flex-direction: column
            &-contentbig
                display: flex
                flex-direction: column
                img
            &-description
                margin-left: 0
            &-descriptionbig
                &-sm
                    margin-left: 0px
            &-imgbig
                &-sm
                    overflow: hidden
                    width: 100%
                    height: 180px
                    display: flex
                    align-items: center
                    justify-content: center
                    img
                        width: 100%
            &-img
                &-sm
                    overflow: hidden
                    width: 100%
                    height: 180px
                    display: flex
                    align-items: center
                    justify-content: center
                    img
                        
                        width: 100%
    .brand
        padding-top: 30px
        &-card
            padding: 0px
            height: 100px
            &-title
                text-align: left
                font-size: 18px
            &-img 
                img
                    width: 70px
    .brand-border-left::after
        height: 110px
    .brand-border-right::before
        content: none

    .locations
        padding-top: 60px
        padding-bottom: 60px
        &-text
            text-align: left
            font-size: 16px
            margin-bottom: 0px
        &-content
            &-title
                text-align: left
                font-size: 18px
        &-card
            &-description
                font-size: 16px
            &-number
                font-size: 36px
    
    .form
        &-content 
            padding-left: 15px
            padding-right: 0
            padding-top: 60px
            padding-bottom: 60px
            &-title
                text-align: left
                font-size: 18px
            &-description
                text-align: left
        &-input
            margin-top: 40px
        &-message
            height: 140px
        &-description
            width: 100%
            margin-left: 15px
        &-button
            width: 100%
            display: flex
            justify-content: center
                    
    .footer
        padding-top: 40px
        padding-bottom: 40px
        &-air
            &-right
                padding-right: 15px
            &-left 
                padding-left: 15px
            &-top
                padding-top: 20px
            &-bottom
                padding-bottom: 20px
    .footer-border-top-col
        border-top: 1px solid #494949
    .footer-card-policy-text 
        font-size: 12px
    .footer-card-title
        font-size: 14px
    .footer-card-item
        font-size: 12px
        color: #ffffffa9
@media screen and ( max-width: 400px )
    .news-all
        width: 100%
        display: flex
        justify-content: center
        margin: auto
        
        text-align: center
        &-sm
            padding-top: 40px
            margin: auto
            width: 100%
            display: flex
            justify-content: center
            a
                margin: auto
    .news-card-imgbig-sm
        height: 120px   
    .news-card-img-sm 
        height: 120px     
    .slide-title
        max-width: 281px
    .hide-col 
        display: none
@media screen and ( max-width: 325px )
    .news-all
        width: 100%
        display: flex
        justify-content: center
        margin: auto
        
        text-align: center
        &-sm
            padding-top: 40px
            margin: auto
            width: 100%
            display: flex
            justify-content: center
            a
                margin: auto
    .slide
        &-title
            min-width: 100px
            max-width: 273px
    .hide-col 
        display: none
    