.container
    margin: auto
    max-width: 1250px
    padding-left: 15px
    padding-right: 15px
    &-custom
        margin: auto
        max-width: 1440px
        padding-left: 15px
        padding-right: 15px
a
    text-decoration: none
    &:hover
        text-decoration: none
        cursor: pointer
.width
    width: 100%
.margin-left
    margin-left: 15px

input[type="checkbox"] 
    display: none

input[type="checkbox"]:checked + label::before
    filter: invert(0)
    background: url('../img/footer/check.png')  no-repeat center center