.container
    margin: auto
    max-width: 1250px
    padding-left: 15px
    padding-right: 15px
    &-custom
        margin: auto
        max-width: 1440px
        padding-left: 15px
        padding-right: 15px
a
    text-decoration: none
    &:hover
        text-decoration: none
        cursor: pointer