@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.height100
    height: 100%
.bg
    &-lighter
        background-color: $white
.bg
    &-light
        &-blue
            background-color: $lightblue
.container
    // margin: auto
    // max-width: 1250px
    // padding-left: 15px
    // padding-right: 15px
    &-custom
        margin: auto
        max-width: 1440px
        padding-left: 15px
        padding-right: 15px
    &-fluid
        &-custom
            max-width: 1230px
a
    text-decoration: none
    cursor: pointer
    &:hover
        text-decoration: none
        cursor: pointer
.margin
    &-left0
        margin-left: 0
.width
    width: 100%
.margin-left
    margin-left: 15px

input[type="checkbox"] 
    display: none

input[type="checkbox"]:checked + label::before
    filter: invert(0)
    background: url('../img/footer/check.png')  no-repeat center center
.sub-left-title
    margin-top: 10px
button
    &:focus
        outline: none
.button
    &-getintouch
        width: 195px
        height: 50px
        display: flex
        justify-content: center
        align-items: center
        background-color: $yellow
        color: $white
        margin: auto
        border: none
        font-family: 'Museo Sans Cyrl 500', sans-serif  
.section
    padding-top: 120px
    padding-bottom: 120px
    &-top
        &-none
            padding-top: 0
.page
    &-title
        padding-top: 120px
        padding-bottom: 120px
        font-family: 'Museo Sans Cyrl 700'
        font-size: 96px
        text-align: center
        color: $black
        span
            color: $yellow
        &-main
            position: relative
        &-description
            padding-top: 60px
            padding-bottom: 45px 
            font-family: 'Museo Sans Cyrl 500'
            color: rgba(black, 0.3 )   
        &-img
            
            width: 100%
            overflow: hidden
            img
                width: 100%
                object-fit: cover
    &-road
        position: absolute
        font-family: 'Museo Sans Cyrl 500'
        color: rgba(black, 0.3 )    
        top: 45px
    &-content
        display: flex
        
        &-title
            text-transform: uppercase
            color: $black
            font-family: 'Museo Sans Cyrl 500'
            font-size: 18px
            &-hidden
                opacity: 0
        &-left
            min-width: 180px
            &-plusimg
                display: flex
                flex-direction: column
                align-content: space-between
                justify-content: space-between
.breadcrumb
    background-color: transparent
    color: rgba($black , 0.3)
    
    a
        color: rgba($black , 0.3)
    &-item+.breadcrumb-item
        padding-left: 15px
        &::before
            content: '—'
            color: rgba($black , 0.3)
            padding-right: 15px
            font-family: 'Museo Sans Cyrl 500'
    &-item.active
        color: rgba($black , 0.3)
        font-family: 'Museo Sans Cyrl 500'
.padding
    &-none
        padding: 0