.about
    // padding-top: 125px
    // padding-bottom: 125px
    &-content
        display: flex
        justify-content: space-between
        &-title
            max-width: 760px
            font-family: 'Museo Sans Cyrl 700', sans-serif
            font-size: 32px
            margin-bottom: 45px
        &-left
            display: flex
            flex-direction: column
            align-content: space-between
            justify-content: space-between
    &-text
        font-family: 'Museo Sans Cyrl 500', sans-serif
        font-size: 18px
        color: $black
    &-cards
        display: flex
        flex-wrap: wrap
    &-card
        height: 100%
    &-description
        font-family: 'Museo Sans Cyrl 300', sans-serif
        font-size: 18px
        margin-top: 20px
    &-img
        display: flex
        justify-content: flex-end
        img
            width: 100%

//about страница
.company
    &-text
        margin-bottom: 40px

.leadership
    &-card
        padding: 15px
        &-img
            max-width: 370px
            max-height: 390px
            img
                width: 100%
                object-fit: cover
        &-text
            margin-top: 20px
            margin-left: 50px
            margin-bottom: 30px
            position: relative
            &::after
                position: absolute
                content: ''
                width: 34px
                height: 2px
                background-color: $yellow
                left: -50px
                top: 17px
            &-name
                font-family: 'Museo Sans Cyrl 700', sans-serif
                font-size: 24px
                color: $black
            &-description
                font-family: 'Museo Sans Cyrl 500', sans-serif
                font-size: 16px
                color: rgba($black, 0.5 )
