.customers
    padding-top: 0
    &-card
        padding: 60px
        &-title
            font-family: 'Museo Sans Cyrl 700', sans-serif
            font-size: 32px
            line-height: 44.8px
            margin-bottom: 20px
        p
            font-family: 'Museo Sans Cyrl 300', sans-serif
            font-size: 18px
            margin-bottom: 40px
        &-button
            background-color: transparent
            border: none
            font-family: 'Museo Sans Cyrl 500', sans-serif
            font-size: 18px
            color: $yellow
            display: flex
            align-items: center
            &-img
                margin-left: 20px
        &-img
            max-width: 156px
            max-height: 55px
            margin-bottom: 30px
            img
                width: 100%
                object-fit: cover
.customerscard
    &-description
        margin-left: 20px
    &-button
        display: flex
        border: none
        background-color: transparent
        padding: 0
        &-text
            color: $yellow
            font-family: 'Museo Sans Cyrl 500', sans-serif
            font-size: 18px
            margin-right: 20px
    &-img
        width: 40px
        // height: 40px
        img
            width: 100%
            object-fit: cover
    &-title
        font-family: 'Museo Sans Cyrl 700', sans-serif
        color: $black
        font-size: 18px
        margin-bottom: 15px
    &-text
        font-family: 'Museo Sans Cyrl 300', sans-serif
        color: $black
        font-size: 16px
        line-height: 24px
        margin-bottom: 20px