.footer
    background-color: $black
    color: $white
    &-logo
        padding-top: 40px
        padding-bottom: 40px
    &-icon
        text-decoration-line: underline
        margin-left: 10px
    &-items
        display: flex
        justify-content: space-around
        align-content: center
        align-items: center
        height: 100%
    &-card
        display: flex
        flex-direction: column
        &-title
            font-family: 'Museo Sans Cyrl 500', sans-serif
            font-size: 16px
            margin-bottom: 5px
        &-text
            display: flex
            flex-direction: column
        &-youtube
            display: flex
        &-item
            display: flex
            margin-top: 15px
            color: #d6d6d6
        &-input
            border-bottom: 1px solid $darkwhite
            padding-bottom: 10px
        &-policy
            display: flex
            &-text
                color: #d6d6d6
    &-air
        &-top
            padding-top: 60px
        &-right
            padding-right: 60px
        &-left
            padding-left: 60px
        &-bottom
            padding-bottom: 60px
    &-border

        &-right
            border-right: 1px solid $darkwhite
        &-bottom
            border-bottom: 1px solid $darkwhite
    &-input
        background-color: transparent
        border: none
        outline: none
        width: 100%
        color: $white
.policy
    
    color: $white
    border: 1px solid $white
    margin-top: 5px
    margin-right: 10px
    
    // &::before
    //     content: ''
    //     width: 16px
    //     border: 1px solid $white
        
    //     // height: 16px
    &:hover
        cursor: pointer