.header
    height: 100vh
    background: url('../img/header/Rectanglebg.png')  center center
    background-size: cover
    &-content
        max-width: 520px
        margin: auto
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        height: 100%
        z-index: 2
    &-buttons
        width: 100%
        display: flex
        justify-content: space-between
        margin-top: 40px
    &-button
        display: flex
        align-items: center
        justify-content: center
        width: 236px
        height: 58px
        color: $yellow
        background-color: transparent
        border: 1px solid $yellow
        font-family: 'Museo Sans Cyrl 500', sans-serif
        font-size: 18px
        font-weight: 600
        letter-spacing: 1.3px
        transition: 0.5s
        &:hover
            transition: 0.5s
            background-color: $yellow
            color: #000000
