.locations
    // padding-top: 125px
    // padding-bottom: 125px
    background: url('../img/locations/map.png') top center / contain no-repeat
    &-content
        display: flex
        justify-content: space-between
        &-title
            max-width: 760px
            font-family: 'Museo Sans Cyrl 700', sans-serif
            font-size: 32px
            margin-bottom: 45px
        &-left
            display: flex
            flex-direction: column
            align-content: space-between
            justify-content: space-between
        &-right
    &-img
        margin-bottom: 15px
    &-text
        font-family: 'Museo Sans Cyrl 500', sans-serif
        font-size: 18px
        color: $black
    &-cards
        display: flex
        flex-wrap: wrap
    &-card
        min-width: 280px
        &-number
            color: $yellow
            font-family: 'Rubik', sans-serif
            font-size: 62px
            font-weight: 900
        &-description
            font-family: 'Museo Sans Cyrl 500', sans-serif
            font-size: 24px
            color: $black

//locatiions page
.locations
    &-cards
        padding-bottom: 115px
// statistics
.statistics
    padding-top: 80px
    background: url('../img/locations/map-page.png')  70% 15% no-repeat
    background-size: 70%
//countries
.countries
    &-title
        font-family: 'Museo Sans Cyrl 700', sans-serif
        font-size: 32px
        color: $black
        border-bottom: 1px solid rgba($black, 0.1)
        margin-bottom: 20px
        padding-bottom: 10px
    &-list
        display: flex
        flex-wrap: wrap
        list-style: disc
        
        li
            width: 33.3%
            text-decoration: underline
            color: $yellow
            font-family: 'Museo Sans Cyrl 500', sans-serif
            font-size: 24px
            margin-bottom: 30px
            cursor: pointer
            &::hover
                cursor: pointer