.menu
    
    position: fixed
    top: 0
    width: 100%
    padding-top: 10px
    padding-bottom: 10px
    border-bottom: 0.5px solid #3d3d3d
    z-index: 10
    &-content
        display: flex
        justify-content: space-between
    &-firstb
        display: flex
    &-secondb
        opacity: 0
    &-thirdb
        display: flex
        align-items: center
    &-active
        color: $black 
        background-color: $white
        border-bottom: 1px solid #f6f6f6
.menu-balck

.menu-balck-click

.menu-click

.menu-balck-svg
    svg, path
        stroke: $black
        fill: $black
    // path
    //     fill: $black

        

.firstb
    &-menu
        color: $white
        font-family: 'Museo Sans Cyrl 300', sans-serif
        font-size: 18px
        display: flex
        align-items: center
        background-color: transparent
        border: none
        outline: none
        &:hover
            border: none
            outline: none
        svg
            display: flex
            align-items: center
            margin-right: 20px
            transition: 0.5s
            &:hover
                transition: 0.5s
                fill: $yellow
                stroke: $yellow
        path
            fill: 
    &-lang
        margin-left: 60px
        color: $white
        font-family: 'Museo Sans Cyrl 300', sans-serif
        font-size: 18px
        display: flex
        align-items: center
        background-color: transparent
        border: none
        outline: none
        position: relative
        &:hover
            border: none
            outline: none
        &-text 
            margin-top: 5px
        svg
            margin-right: 20px
            margin-left: 10px
            transition: 0.5s
            &:hover
                transition: 0.5s
                fill: $yellow
                stroke: $yellow
//меню языка
.menu
    &-lang
        transition: 0.3s
        opacity: 0
        background-color: $white
        color: $yellow
        position: absolute
        top: -800px
        left: -35px
        width: 200px
        z-index: 3
        &-content
            padding: 40px
            padding-bottom: 20px
            text-align: left
        &-item
            font-family: 'Museo Sans Cyrl 700', sans-serif
            font-size: 18px
            padding-bottom: 20px
            &:hover
                cursor: pointer
            &-active
                color: $black
.menu-lang-active
    top: 80px
    transition: 0.3s
    opacity: 1
.lang-vector
    transform: rotate(0deg)
    &-active
        transform: rotate(90deg)

.thirdb
    &-socialb
        display: flex
        align-items: center
        svg
            margin-right: 10px
            margin-left: 10px
            transition: 0.5s
            &:hover
                transition: 0.5s
                fill: $yellow
                stroke: $yellow
    &-text
        font-family: 'Museo Sans Cyrl 300', sans-serif
        font-size: 18px
        margin-left: 70px
        color: $white
        text-decoration-line: underline
        transition: 0.5s
        &:hover
            transition: 0.5s
            color: $yellow

// большое меню
.burger
    &-menu
        width: 100vw
        padding-top: 80px
        padding-bottom: 50px
        background-color: $white
        z-index: 6
        position: fixed
        transition: 0.5s
        top: 0
        left: -100vw
        &.activebur
            transition: 0.5s
            left: 0
    &-content
        &-services
            display: flex
            padding-bottom: 20px
            padding-top: 20px
            border-bottom: 1px solid #f6f6f6
    &-services
        &-title
            text-transform: uppercase
            font-family: 'Museo Sans Cyrl 500', sans-serif
            font-size: 18px
            margin-top: 30px
        &-item
            font-family: 'Museo Sans Cyrl 300', sans-serif
            color: $lightblack
            font-size: 18px
            text-decoration: underline
            transition: 0.5s
            margin-bottom: 30px
            margin-top: 30px
            &:hover
                transition: 0.5s
                color: $yellow
        &-left
            width: 18%
        &-right
            width: 100%
    &-footer
        &-input
            border: none
            &-wraper
                display: flex
                justify-content: space-between
                border-bottom: 1px solid $darkwhite
                max-width: 300px
                padding-bottom: 10px
                align-items: center
                img
                  width: 24px
                  height: 11.62px  
        &-policy
            margin-left: 12px
            font-family: 'Museo Sans Cyrl 300', sans-serif
            font-size: 14px
            a
                text-decoration: underline
                color: $black
                font-family: 'Museo Sans Cyrl 500', sans-serif
            &-wraper
                margin-top: 18px
                display: flex

        &-content
            display: flex
        &-title
            opacity: 0
        &-item
            margin-bottom: 15px
            font-family: 'Museo Sans Cyrl 300', sans-serif
            color: #1E1E1E
            font-size: 16px
            &-title
                color: #1E1E1E
                font-family: 'Museo Sans Cyrl 500', sans-serif
                font-size: 16px
                margin-top: 30px
                margin-bottom: 20px
        
.burger-border-top
    border-top: 1px solid #f6f6f6
.burger-border-bottom-none
    border-bottom: 0px solid #000

