.news
    // padding-bottom: 125px
    &-content
        display: flex
        justify-content: space-between
        &-title
            display: flex
            justify-content: space-between
        &-left
            display: flex
            flex-direction: column
            align-content: space-between
            justify-content: space-between
        &-right
            width: 1230px
    &-all
        font-family: 'Museo Sans Cyrl 700', sans-serif
        font-size: 18px
        text-decoration-line: underline
        color: $yellow
        background-color: transparent
        border: none
        outline: none
        &:hover
            color: $yellow
    &-title
        max-width: 535px
        font-family: 'Museo Sans Cyrl 700', sans-serif
        font-size: 32px
        margin-bottom: 45px
    &-text
        font-family: 'Museo Sans Cyrl 500', sans-serif
        font-size: 18px
        color: $black
    &-card
        border-top: 1px solid #e6e6e6
        border-bottom: 1px solid #e6e6e6
        padding-top: 40px
        padding-bottom: 40px
        &-img
            overflow: hidden
            display: flex
            justify-content: center
            align-items: center
        &-imgbig
            height: 309px
        &-butomnone
            border-bottom: 0px solid #e6e6e6
        &-content
            display: flex
        &-contentbig
            display: block
        &-description
            margin-left: 20px
            max-width: 210px
        &-descriptionbig
            margin-left: 0px
            margin-top: 17px
        &-time
            color: rgba(30, 30, 30, 1)
            font-family: 'Museo Sans Cyrl 500', sans-serif
            opacity: 0.5
            font-size: 17px
        &-text
            font-family: 'Museo Sans Cyrl 500', sans-serif
            color: rgba(30, 30, 30, 1)
            font-size: 17px
        &-date
            display: flex
            justify-content: space-between
            align-items: center
            align-content: center
            color: $yellow
            font-family: 'Museo Sans Cyrl 500', sans-serif
            font-size: 17px
            margin-top: 20px
            &-text
            &-next
                display: flex
                align-items: center
        
.hidden-card-all
    display: none
.show-card-all
    // display: flex
.brand
    padding-top: 120px
    &-none
        padding-right: 0px
    &-card
        background-color: 
        width: 100%
        height: 198px
        padding-top: 20px
        padding-bottom: 20px
        display: flex
        justify-content: center
        align-items: center
        &-title
            font-family: 'Museo Sans Cyrl 700', sans-serif
            font-size: 32px
        &-content
            display: flex
        &-img
            max-width: 230px
            display: flex
            justify-content: center
            align-items: center
            &-uzor
                max-width: 386px
                // margin: auto
                img
                    width: 100%
                    object-fit: cover
            img
                object-fit: cover
                width: 100%

    &-air
        padding-top: 20px
        padding-bottom: 20px
    &-border
        &-top
            border-top: 1px solid #e6e6e6
            
        &-left
            
            position: relative
            &::after
                position: absolute
                content: ''
                width: 1px
                height: 198px
                background-color: #e6e6e6
                bottom: 0px
                left: -15px
        &-right
            
            position: relative
            &::before
                
                position: absolute
                content: ''
                width: 1px
                height: 198px
                background-color: #e6e6e6
                bottom: 0px
                right: -15px
        &-bottom
            border-bottom: 1px solid #e6e6e6

//news
.current
    padding-top: 0
    &-card
        &-title
            margin-bottom: 40px
            &-text
                padding: 37px
                padding-left: 20px
                padding-right: 20px
                margin-left: 20px
                margin-right: 20px
                border-bottom: 1px solid rgba($white, 0.4 )
                border-top: 1px solid rgba($white, 0.4 )
                display: flex
                flex-direction: column
                align-content: space-between
                height: 100%
                
            &-description
                min-height: 400px
                padding-top: 20px
                padding-bottom: 20px
                background: url('../img/news/bg.png')  center center no-repeat
                // display: flex
                // align-items: stretch
        &-img
            overflow: hidden
        &-text
            color: $white
            font-family: 'Museo Sans Cyrl 700', sans-serif
            font-size: 32px
            line-height: 44.8px
            max-width: 760px
            &-time
                color: rgba($white, 0.6)
                margin-top: 20px
                font-family: 'Museo Sans Cyrl 300', sans-serif
                font-size: 16px
            &-data
                display: flex
                margin-top: 60px
                &-text
                    color: $yellow
                    font-family: 'Museo Sans Cyrl 500', sans-serif
                    font-size: 18px
                &-vector
                    display: flex
                    align-items: center
                    margin-left: 20.5px
        &-sm
            padding-top: 40px
            padding-bottom: 40px
            
            &-img
                margin-bottom: 20px
                max-width: 390px
                max-height: 260px
                img
                    object-fit: cover
                    width: 100%
            &-time
                margin-bottom: 10px
                font-family: 'Museo Sans Cyrl 300', sans-serif
                font-size: 16px
                color: rgba($black, 0.5 )
            &-description
                margin-bottom: 21px
                font-family: 'Museo Sans Cyrl 300', sans-serif
                color: $black
            &-date
                display: flex
                justify-content: space-between
                color: $yellow
                font-family: 'Museo Sans Cyrl 500', sans-serif
            &-vector
                display: flex
                align-items: center
            &-border
                &-bottom
                    border-bottom: 1px solid rgba( $black, 0.1 )
                &-top
                    border-top: 1px solid rgba( $black, 0.1 )
.newscard

    padding-top: 40px
    display: flex
    padding-bottom: 40px
    border-bottom: 1px solid rgba( $black, 0.1 )
    flex-wrap: wrap
    justify-content: space-between

    &-time
        color: rgba($black , 0.5) 
        font-family: 'Museo Sans Cyrl 500', sans-serif
        font-size: 16px
        margin-bottom: 10px
    &-img
        max-width: 130px
        max-height: 169px
        img
            width: 100%
            object-fit: cover
    &-button
        display: flex
        justify-content: space-between
        color: $yellow
        font-family: 'Museo Sans Cyrl 500', sans-serif
        font-size: 18px
        background-color: transparent
        border: none
        align-items: center
        width: 100%
    &-description
        max-width: 240px
        margin-left: 20px
    &-text
        font-family: 'Museo Sans Cyrl 500', sans-serif
        color: $black
        font-size: 16px
        margin-bottom: 29px
    &-title
        text-transform: uppercase
        font-family: 'Museo Sans Cyrl 500', sans-serif
        font-size: 18px
        line-height: 21.6px
        color: $black
        padding-top: 20px
        padding-bottom: 40px
        border-bottom: 1px solid rgba( $black, 0.1 )
    &-left
        opacity: 0
    &-big
        &-content
            p
                margin-bottom: 0
                margin-top: 20px

        &-title
            font-family: 'Museo Sans Cyrl 700', sans-serif
            font-size: 32px
            color: $black
            line-height: 44.8px
            margin-bottom: 20px
            &-description
                display: flex
                justify-content: space-between
                margin-bottom: 20px
                &-data
                    color: $yellow
                    font-family: 'Museo Sans Cyrl 500', sans-serif
                    font-size: 18px
                &-time
                    color: rgba( $black , 0.5 )
                    font-family: 'Museo Sans Cyrl 500', sans-serif
                    font-size: 16px
        &-img
            margin-bottom: 20px
            img
                width: 100%
                object-fit: cover
            &-src
                margin-bottom: 10px
                color: rgba($black ,  0.5)
                a
                    color: rgba($black ,  0.5)
                    text-decoration: none
        
