.serm
    &-services
        &-button
            margin-top: 60px
        &-card
            padding-bottom: 40px
            padding-top: 60px
            position: relative
            &::after
                position: absolute
                content: ''
                background-color: $yellow
                width: 80px
                height: 1px
                bottom: 0
                left: 0
            &-img
                width: 60px
                height: 60px
                border-radius: 5px
                background-color: rgba($yellow , 0.1 )
                display: flex
                justify-content: center
                align-items: center
                margin-bottom: 40px
                img
            &-text
                font-family: 'Museo Sans Cyrl 300', sans-serif  
                font-size: 18px
                line-height: 28.8px
                min-height: 56px
    &-faq
        &-cards
        &-card
            // position: relative
            // &-input
            //     position: absolute
            //     top: 0
            //     left: 0
            //     opacity: 0
            &-border
                &-bottom
                    border-bottom: 1px solid rgba($yellow , 0.2 )
            &-active

            &-trigger
                display: flex
                border-top: 1px solid rgba($yellow , 0.2 )
                padding-top: 30px
                padding-bottom: 30px
                &-num
                    font-family: 'Rubik', sans-serif
                    font-weight: 500
                    color: $yellow
                    font-size: 32px
                &-text
                    display: flex
                    justify-content: space-between
                    width: 100%
                    font-family: 'Museo Sans Cyrl 700', sans-serif
                    font-size: 24px
                    color: $black
                    align-items: center
                    margin-left: 40px  
            &-content
                display: none
                margin-left: 76px
                font-family: 'Museo Sans Cyrl 300', sans-serif
                font-size: 16px
                line-height: 24px
// .serm-faq-card-input:checked ~ .serm-faq-card-trigger
// .serm-faq-card-input:checked ~ .serm-faq-card-content
//     display: block
.serm-faq-card-active .serm-faq-card-trigger
.serm-faq-card-active .serm-faq-card-content
    display: block
    padding-bottom: 30px
    .serm-faq-card-trigger
        padding-bottom: 0
    